doctype html
html 
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width,initial-scale=1")
		block title
			title Default Title
		link(href="css/style.css" rel="StyleSheet")
		link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="StyleSheet")
	body
		block header
			header.header
		block content
			section.section
		script(src="http://maps.googleapis.com/maps/api/js")
		script(src="https://code.jquery.com/jquery-2.2.0.min.js")
		script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js", integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS", crossorigin="anonymous")
		script(src="js/jquery.pagenav.js")
		script(src="js/common.js")
		script(src="js/map.min.js")