@using KtmCompany.Web.Infrastructure.Extensions;
@model ArticlesBlockViewModel

@if (Model.Articles != null)
{
    var chunkedItems = Model.Articles.Chunk(2);

    foreach (var row in chunkedItems)
    {
        <div class="row">
            @foreach (var article in row)
            {
                <div class="col-xs-12 col-sm-12 col-md-6 tripple-column-space">
                    @{ Html.RenderPartial("EditorialPageBase", article); }
                </div>
            }
        </div>
    }
}
