<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<connectionStrings xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <add name="EPiServerDB" connectionString="Data Source=192.168.195.76;Initial Catalog=dbKTMGroupEPiStaging;Integrated Security=False;User ID=dbUserEPiKTM;Password=PMYuJ97AxKVm8sw;MultipleActiveResultSets=True" xdt:Locator="Match(name)" xdt:Transform="SetAttributes(connectionString)" />
</connectionStrings>