<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <add name="EPiServerDB" connectionString="Data Source=geta-sql-dev-01;Initial Catalog=dbEPiKtmCompany;Integrated Security=False;User ID=dbUserEPiKtmCompany;Password=episerver123%;MultipleActiveResultSets=True" xdt:Locator="Match(name)" xdt:Transform="SetAttributes(connectionString)" />
</connectionStrings>