<episerver xmlns="http://EPiServer.Configuration.EPiServerSection">
  <applicationSettings globalErrorHandling="RemoteOnly" disableVersionDeletion="false"
    httpCacheVaryByCustom="path" httpCacheVaryByParams="id,epslanguage"
    httpCacheability="Public" uiEditorCssPaths="~/frontend/ktm/css/editor.css"
    urlRebaseKind="ToRootRelative" pageUseBrowserLanguagePreferences="false"
    uiShowGlobalizationUserInterface="false" subscriptionHandler="EPiServer.Personalization.SubscriptionMail,EPiServer"
    uiMaxVersions="10" pageValidateTemplate="false" pageFolderVirtualPathProvider="SitePageFiles"
    utilUrl="~/util/" uiUrl="~/cms/CMS/" />
</episerver>