<?xml version="1.0" encoding="utf-8"?>
<module>
  <assemblies>
    <add assembly="KtmCompany.Web" />
  </assemblies>
  <clientResources>
    <add name="epi-cms.widgets.base" path="Styles/Styles.css" resourceType="Style"/>
  </clientResources>
  <dojoModules>
    <!-- Add a mapping from sample to ~/ClientResources/Scripts to the dojo loader configuration -->
    <add name="app" path="Scripts" />
  </dojoModules>
  <dojo>
    <paths>
      <add name="menupin" path="Scripts/MenuPin" />
      <add name="tedgustaf" path="" />
      <add name="datetextbox" path="Scripts/Editors" />
    </paths>
  </dojo>
  <clientModule initializer="menupin.MenuPinInit">
    <moduleDependencies>
      <add dependency="CMS" type="RunAfter" />
    </moduleDependencies>
  </clientModule>
  <clientModule initialize="datetextbox.DateTextBoxEditor">
    <moduleDependencies>
      <add dependency="CMS" type="RunAfter" />
    </moduleDependencies>
  </clientModule>
</module>