<?xml version="1.0" encoding="utf-8"?>
<rewriteMaps>
    <rewriteMap name="Temporary">
        <!--<add key="www.ktm-slovakia.sk/powerdays/terms" value="http://www.ktmpowerdays.com/sk/termsconditions/" />-->
    </rewriteMap>
    <rewriteMap name="Permanent">
        <!--<add key="www.ktm.at/" value="http://www.ktm.com/at/" />-->
    </rewriteMap>
</rewriteMaps>