<?xml version="1.0" encoding="utf-8"?>
<rules>
    <clear />

    <!-- Credits: http://madskristensen.net/post/cache-busting-in-aspnet -->
    <rule name="fingerprint">
        <match url="([\S]+)(/v-[0-9]+/)([\S]+)" />
        <action type="Rewrite" url="{R:1}/{R:3}" />
    </rule>

    <rule name="Redirect from ktmgroup.com to www.ktmgroup.com" patternSyntax="Wildcard" stopProcessing="true">
        <match url="*" ignoreCase="True" />
        <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
            <add input="{HTTP_HOST}" pattern="ktmgroup.com" />
            <add input="{SERVER_PORT}" pattern="80" />
        </conditions>
        <action type="Redirect" url="http://www.ktmgroup.com/{R:0}" appendQueryString="true" redirectType="Permanent" />
    </rule>

    <rule name="old domain permanent redirects" stopProcessing="true">
        <match url=".*" ignoreCase="True" />
        <conditions logicalGrouping="MatchAll">
            <add input="{Permanent:{HTTP_HOST}{URL}}" pattern="(.+)"/>
        </conditions>
        <action type="Redirect" url="{C:1}" appendQueryString="false" redirectType="Permanent"/>
    </rule>
    
    <rule name="old domain temporary redirects" stopProcessing="true">
        <match url=".*" ignoreCase="True" />
        <conditions>
            <add input="{Temporary:{HTTP_HOST}{URL}}" pattern="(.+)"/>
        </conditions>
        <action type="Redirect" url="{C:1}" appendQueryString="false" redirectType="Temporary"/>
    </rule>
    
</rules>