<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->

      <machineKey validationKey="A82B7CB992E3E6259CA2B56185BF3CF3218FECF08FB85701E1DC758B8A6329953EA5DFFFFD0631A53F59F7D8E274A0F86A8A462A083385D6945365614F797BDA"
                decryptionKey="48117B18276F326C4D4879618FDE6701D1FA714878B93E98"
                validation="SHA1" decryption="AES" xdt:Transform="Insert" />
      
  </system.web>

    <system.serviceModel>
        <services xdt:Transform="Replace">
            <service name="origin.ktmgroup.com/EPiServer.Events.Remote.EventReplication">
                <endpoint name="RemoteEventServiceEndPoint"
                contract="EPiServer.Events.ServiceModel.IEventReplication"
                bindingConfiguration="RemoteEventsBinding"
                address="net.tcp://localhost:13006/RemoteEventService"
                binding="netTcpBinding" />
            </service>
        </services>
        <client>
            <endpoint xdt:Transform="Insert" name="origin.ktmgroup.com-192.168.195.140" address="net.tcp://192.168.195.140:13006/RemoteEventService" bindingConfiguration="RemoteEventsBinding" contract="EPiServer.Events.ServiceModel.IEventReplication" binding="netTcpBinding" />
            <endpoint xdt:Transform="Insert" name="origin.ktmgroup.com-192.168.195.146" address="net.tcp://192.168.195.146:13006/RemoteEventService" bindingConfiguration="RemoteEventsBinding" contract="EPiServer.Events.ServiceModel.IEventReplication" binding="netTcpBinding" />            
        </client>
    </system.serviceModel>

    <system.net>
        <mailSettings>
            <smtp>
                <network xdt:Transform="SetAttributes(host)" host="192.168.199.30" />
            </smtp>
        </mailSettings>
    </system.net>

</configuration>