.footer-link
	.container
		.row
			.footer-link-left.pull-left
				.block-link
					ul
						li
							a(href="#", title="KTM") Home
						li
							a(href="#", title="KTM") ktm
						li
							a(href="#", title="KTM") husqvarna
				.block-link
					ul
						li
							a(href="#", title="KTM") Company
						li
							a(href="#", title="KTM") INVESTOR RELATIONS
						li
							a(href="#", title="KTM") Careers
				.block-link
					ul
						li
							a(href="#", title="KTM") News   
						li
							a(href="#", title="KTM") Downloads
						li
							a(href="#", title="KTM") Procurement
			.footer-link-right.pull-right
				.block-link
					ul
						li
							span.fw7 KTM AG
				.block-link
					ul
						li
							p Stallhofnerstraße 3
							p 5230 Mattighofen
							p AUSTRIA
				.block-link
					ul
						li
							span PHONE +43 7742 60 00
						li
							span FAX +43 7742 60 00-303
.footer
	.container
		.row
			.col-sm-12
				ul
					li
						a(href="#", title="KTM") CONTACT
					li
						a(href="#", title="KTM") SITEMAP
					li
						a(href="#", title="KTM") LEGAL NOTICES
					li
						a(href="#", title="KTM") IMPRINT
					li
						span &copy; KTM AG 2016