include ../../mixins/_main-nav.jade

.pull-left
	.logo
		a(href="#",title="KTM")
			img(src="images/logo.png",alt="KTM")
	nav.nav
		+main-nav
.brand-list.pull-right
	ul
		li
			a(href="#", title="KTM")
				img(src="images/brand-2.jpg", alt="KTM")
		li
			a(href="#", title="KTM")
				img(src="images/brand-1.jpg", alt="KTM")