@font-face {
	font-family: 'TradeGothicLT';
  	src: url('../fonts/TradeGothicLT.eot?#iefix') format('embedded-opentype'),  
		 url('../fonts/TradeGothicLT.woff') format('woff'), 
		 url('../fonts/TradeGothicLT.ttf')  format('truetype'), 
		 url('../fonts/TradeGothicLT.svg#TradeGothicLT') format('svg');
	font-weight: normal;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/*new fonts*/
@font-face {
	font-family: 'TradeGothicLTCom';
  	src: url('../fonts/tradegothic/tradegothicltcom-cn18-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/tradegothic/tradegothicltcom-cn18-webfont.woff') format('woff'),
		 url('../fonts/tradegothic/tradegothicltcom-cn18-webfont.ttf')  format('truetype'),
		 url('../fonts/tradegothic/tradegothicltcom-cn18-webfont.svg#webfontr1Q3rCOs') format('svg');
	font-weight: normal;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
@font-face {
	font-family: 'TradeGothicBoldCon';
  	src: url('../fonts/tradegothic/tradegothicltcom-bdcn20-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/tradegothic/tradegothicltcom-bdcn20-webfont.woff') format('woff'),
		 url('../fonts/tradegothic/tradegothicltcom-bdcn20-webfont.ttf')  format('truetype'),
		 url('../fonts/tradegothic/tradegothicltcom-bdcn20-webfont.svg#tradegothic') format('svg');
	font-weight: normal;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
@font-face {
	font-family: 'TradeGothicBold';
  	src: url('../fonts/tradegothic/tradegothicltcom-bold-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/tradegothic/tradegothicltcom-bold-webfont.woff') format('woff'),
		 url('../fonts/tradegothic/tradegothicltcom-bold-webfont.ttf')  format('truetype'),
		 url('../fonts/tradegothic/tradegothicltcom-bold-webfont.svg#tradegothic') format('svg');
	font-weight: normal;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
@font-face {
	font-family: 'TradeGothicSemiBoldCon';
  	src: url('../fonts/tradegothic/tradegothicltcombold-webfont.eot?#iefix') format('embedded-opentype'),  
		 url('../fonts/tradegothic/tradegothicltcombold-webfont.woff') format('woff'), 
		 url('../fonts/tradegothic/tradegothicltcombold-webfont.ttf')  format('truetype'), 
		 url('../fonts/tradegothic/tradegothicltcombold-webfont.svg#tradegothic') format('svg');
	font-weight: normal;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}