$brand-color: #ff6600;
$color-1: #ff6600;
$color-2: #002550;
$color-3: #7d7d7d;

$font-base: "TradeGothicLT",Arial,Helvetica,sans-serif;
$font-second: "TradeGothicBoldCon",Arial,Helvetica,sans-serif;
