.header-image-not-found, .header-image-post {
    .intro-title {
        font-size: 90px;

        .intro-readmore {
            margin-top: 20px;
        }
    }

    .section {
        img {
            width: 100%;
        }
    }
}