section.section(style="position:relative;")
	video#videoBanner(src='http://www.ktm.com/globalassets/home/ktm_dot_com_clip.mp4', poster='http://www.ktm.com/globalassets/home/readytorace.jpg', autoplay, muted)
	div.videoBannerText.col-lg-5.col-md-5.col-sm-5.col-xs-5
		p READY
		p TO >>
		p RACE