.info-block
	.section-info.col-sm-4
		.block-main-intro.light-color
			+row-intro('More about the company', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis bibendum risus sollicitudin ligula facilisis convallis. Praesent a vehicula leo. Aenean sed.', 'See more')
	.info-block-content
		p sfdsfds